@import 'bootstrap/scss/bootstrap';
@import './partials/_variables';

@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/700.css';



* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;

}

// DEBUGS

.debug {
  border: 1px solid white;
}

.debug-b {
  border: 1px solid black;
}

.debug-bg {
  background-color: antiquewhite;
}

// FONTS

h1,
h2,
h3,
h4, 
h5,
h6 {
  text-transform: capitalize;
}

h5 {
  font-size: 1rem;
  color: $light-Seconday;
}

h1,
h2 {
  font-size: 3rem;
}

p {
  color: $dark-grey-text;
}

ul {
  list-style: none;
}

// BOTTONI

.btns {
  padding: 7px 20px;
  border: 0px;
  border-radius: 50px;
  font-size: 1rem;
  text-transform: capitalize;
  text-shadow: $dark-primary;
}

.btn-orange {
  background-image: linear-gradient(to right, $dark-Secondary, $light-Seconday);
  color: $card-light;
}

.btn-blue {
  background-image: linear-gradient(to right, $btn-light-blu, $btn-dark-blu);
  color: $card-light;
}

.btn-white {
background-color: $card-light;
}

// CLASSI COLORE TESTI

.white-text {
  color: $card-light;
}

.text-active {
  color: $section-title;
}

.light-blue-text {
  color: $light-blue-text;
}