
// FADE in Sections
$light-primary: #0B1851; // sfumatura chiara del blu  principale
$dark-primary: #020332;

// bottoni blu
$btn-light-blu: #03A7D3E6;
$btn-dark-blu: #527CEB;

// Buttons and elements 
$light-Seconday: #F9636B; // sfumatura chiara dell'arancione principale
$dark-Secondary: #B6246E;

// Text Color 
$section-title: #D65765;

// Card Background & text 
$card-light: #FEFEFE;

// testo descrizione celeste
$light-blue-text: #03A7D3E6;

// testo p
$description-text: #81829A